.DS_Store
*.logs
node_modules/
.vscode/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
*.local
dist/
build/
*.local
.firebaserc
firebase.json
.cache/
.idea/
*.iml
.next/
out/
coverage/
*.tgz
firestore.rules
firestore.indexes.json
vite.config.js
.firebase/hosting.ZGlzdA.cache