/*
body {
    background-color: gray;
}
*/
/* Footer Styles */

.site-footer {
  background-color: #c62828;
  color: white;
  text-align: center;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.footer-container {
  max-width: 900px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 0.5rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffd54f; /* warm yellow hover */
}

.box {
    width: 90%;
    height: 30vh;
}

#youtube-container iframe {
  max-width: 700px;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
}

.HIDE-ME {
    visibility: hidden;
}


